In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)  # me muestre todas las columnas
import re

In [2]:
# Descarga del DataFrame en archivo CSV. 

data_shark = pd.read_csv('/Users/JGR/IRON_HACK/Sharks/attacks.csv', encoding='UTF-8',encoding_errors='ignore')

# Enseña la cabeza del DataFrame
data_shark.head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2017.06.11,2017-06-11,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,48,"No injury, board bitten",N,08h30,"White shark, 4 m","WA Today, 6/11/2017",2017.06.11-Goff.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.11,2017.06.11,6095.0
1,2017.06.10.b,2017-06-10,2017.0,Unprovoked,AUSTRALIA,Victoria,"Flinders, Mornington Penisula",Surfing,female,F,NaN,"No injury, knocke off board",N,15h45,7 gill shark,NaN,2017.06.10.b-Flinders.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.10.b,2017.06.10.b,6094.0

In [3]:
data_shark.info() # Vemos toda la informacion de la Data Frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25614 entries, 0 to 25613
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6095 non-null   object
 1   Date                    6094 non-null   object
 2   Year                    6092 non-null   float64
 3   Type                    6090 non-null   object
 4   Country                 6048 non-null   object
 5   Area                    5682 non-null   object
 6   Location                5583 non-null   object
 7   Activity                5559 non-null   object
 8   Name                    5888 non-null   object
 9   Sex                     5517 non-null   object
 10  Age                     3374 non-null   object
 11  Injury                  6066 non-null   object
 12  Fatal (Y/N)             6064 non-null   object
 13  Time                    2848 non-null   object
 14  Species                 3100 non-null   object
 15  Investigator or Source  6077 non-null   object
 16  pdf                     6094 non-null   object
 17  href formula            6093 non-null   object
 18  href                    6093 non-null   object
 19  Case Number.1           6094 non-null   object
 20  Case Number.2           6094 non-null   object
 21  original order          6094 non-null   float64
dtypes: float64(2), object(20)
memory usage: 4.3+ MB

In [4]:
df = pd.DataFrame(data_shark)
null_counts = df.isna().sum() 
null_counts[null_counts > 0]

Case Number               19519
Date                      19520
Year                      19522
Type                      19524
Country                   19566
Area                      19932
Location                  20031
Activity                  20055
Name                      19726
Sex                       20097
Age                       22240
Injury                    19548
Fatal (Y/N)               19550
Time                      22766
Species                   22514
Investigator or Source    19537
pdf                       19520
href formula              19521
href                      19521
Case Number.1             19520
Case Number.2             19520
original order            19520
dtype: int64

In [5]:
data_shark.shape,

((25614, 22),)

In [6]:
df = data_shark.drop_duplicates()

In [7]:
df.shape

(6097, 22)

In [8]:
df = df.fillna('0') # Rellenamos todos los valores nulos a "unknown"
df.tail(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
6101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,0,0,0,0,0,0,0
25613,xx,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
df.shape

(6097, 22)

In [10]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [11]:
df = df.rename(columns={'Sex ': 'Sex'})

In [12]:
df = df.rename(columns={'Species ': 'Species'})

In [13]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [14]:
df['pdf'] = df['pdf'].str.replace('\D', '') # Quitamos todo lo que no sea numerico de la lista
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2017.06.11,2017-06-11,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,48,"No injury, board bitten",N,08h30,"White shark, 4 m","WA Today, 6/11/2017",20170611,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.11,2017.06.11,6095.0
1,2017.06.10.b,2017-06-10,2017.0,Unprovoked,AUSTRALIA,Victoria,"Flinders, Mornington Penisula",Surfing,female,F,0,"No injury, knocke off board",N,15h45,7 gill shark,0,20170610,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.10.b,2017.06.10.b,6094.0
2,2017.06.10.a,2017-06-10,2017.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Bryan Brock,M,19,Laceration to left foot,N,10h00,0,"Daytona Beach News-Journal, 6/10/2017",20170610,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.10.a,2017.06.10.a,6093.0
3,2017.06.07.R,Reported 07-Jun-2017,2017.0,Unprovoked,UNITED KINGDOM,South Devon,Bantham Beach,Surfing,Rich Thomson,M,30,"Bruise to leg, cuts to hand sustained when he ...",N,0,"3m shark, probably a smooth hound","C. Moore, GSAF",20170607,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.07.R,2017.06.07.R,6092.0
4,2017.06.04,2017-06-04,2017.0,Unprovoked,USA,Florida,"Middle Sambo Reef off Boca Chica, Monroe County",Spearfishing,Parker Simpson,M,0,Laceration to shin,N,0,8' shark,"Nine News, 6/7/2017",20170604,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.04,2017.06.04,6091.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6092,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,0,"Panama Bay 8N, 79W",0,Jules Patterson,M,0,FATAL,Y,0,0,"The Sun, 10/20/1938",0002,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6093,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,0,0,S.W. Baker,0001,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0
6094,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,0,0,0,0,0,0,0
25613,xx,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [15]:
df.shape

(6097, 22)

In [16]:
df = df.rename(columns={'Case Number.1': 'Attack Date'})

In [17]:
df['Case Number.2'] = 0 # Limpieza de datos que me son irrelevantes

In [18]:
df['original order'] = 0  # Limpieza de datos que me son irrelevantes

In [19]:
df['href formula'] = 0  # Limpieza de datos que me son irrelevantes

In [20]:
df['href'] = 0  # Limpieza de datos que me son irrelevantes

In [21]:
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Attack Date,Case Number.2,original order
0,2017.06.11,2017-06-11,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,48,"No injury, board bitten",N,08h30,"White shark, 4 m","WA Today, 6/11/2017",20170611,0,0,2017.06.11,0,0
1,2017.06.10.b,2017-06-10,2017.0,Unprovoked,AUSTRALIA,Victoria,"Flinders, Mornington Penisula",Surfing,female,F,0,"No injury, knocke off board",N,15h45,7 gill shark,0,20170610,0,0,2017.06.10.b,0,0
2,2017.06.10.a,2017-06-10,2017.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Bryan Brock,M,19,Laceration to left foot,N,10h00,0,"Daytona Beach News-Journal, 6/10/2017",20170610,0,0,2017.06.10.a,0,0

In [22]:
# Porcentaje por Pais
Country_counts = df['Country'].value_counts()
Country_percentages = Country_counts / len(df) * 100
Country_percentages.head(8)

USA                 35.427259
AUSTRALIA           21.371166
SOUTH AFRICA         9.365262
PAPUA NEW GUINEA     2.181401
NEW ZEALAND          2.066590
BRAZIL               1.689355
BAHAMAS              1.656552
MEXICO               1.394128
Name: Country, dtype: float64

In [23]:
df.shape

(6097, 22)

In [24]:
# Porcentaje por Sexo
Sex_counts = df['Sex'].value_counts()
Sex_percentages = Sex_counts / len(df) * 100
Sex_percentages.head(2)

M    80.465803
F     9.939314
Name: Sex, dtype: float64

In [25]:
# Porcentaje por Area
Area_counts = df['Area'].value_counts()
Area_percentages = Area_counts / len(df) * 100
Area_percentages.head(5)

Florida            16.647532
New South Wales     7.807118
0                   6.806626
Queensland          5.035263
Hawaii              4.723635
Name: Area, dtype: float64

In [26]:
injuries = df['Injury'].value_counts()
injuries.head(10)

FATAL                      746
Survived                    97
Foot bitten                 83
No injury                   79
Leg bitten                  71
Left foot bitten            49
No details                  43
Right foot bitten           39
0                           31
No injury, board bitten     30
Name: Injury, dtype: int64

In [27]:
time = df['Time'].value_counts()
time.head(10)

0            3249
Afternoon     181
11h00         126
Morning       112
12h00         108
15h00         101
16h00          98
14h00          95
16h30          73
13h00          72
Name: Time, dtype: int64

In [28]:
df.shape

(6097, 22)

In [29]:
sharks_species = df['Species'].value_counts()
sharks_species.head(20)

0                                  2997
White shark                         164
Shark involvement not confirmed      81
Tiger shark                          73
Bull shark                           53
6' shark                             40
4' shark                             39
1.8 m [6'] shark                     35
1.5 m [5'] shark                     32
1.2 m [4'] shark                     27
5' shark                             26
3' shark                             26
4' to 5' shark                       23
3 m [10'] shark                      22
2 m shark                            22
No shark involvement                 21
Wobbegong shark                      20
3' to 4' shark                       18
2.4 m [8'] shark                     16
3 m shark                            16
Name: Species, dtype: int64

In [30]:
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Attack Date,Case Number.2,original order
0,2017.06.11,2017-06-11,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,48,"No injury, board bitten",N,08h30,"White shark, 4 m","WA Today, 6/11/2017",20170611,0,0,2017.06.11,0,0
1,2017.06.10.b,2017-06-10,2017.0,Unprovoked,AUSTRALIA,Victoria,"Flinders, Mornington Penisula",Surfing,female,F,0,"No injury, knocke off board",N,15h45,7 gill shark,0,20170610,0,0,2017.06.10.b,0,0
2,2017.06.10.a,2017-06-10,2017.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Bryan Brock,M,19,Laceration to left foot,N,10h00,0,"Daytona Beach News-Journal, 6/10/2017",20170610,0,0,2017.06.10.a,0,0

In [31]:
Dates = df['Attack Date'].value_counts()
Dates.tail(100)

1999.12.31.c    1
2000.00.00      1
2000.01.05      1
2000.01.28.R    1
2000.02.01      1
               ..
1998.08.01.b    1
1998.08.12      1
1998.08.13      1
1998.08.15      1
1976.03.09      1
Name: Attack Date, Length: 100, dtype: int64

In [34]:
df['Attack Date'] = df['Attack Date'].str.slice(0, 4) # Hacemos el calculo anual de el numero de a

In [35]:
ataques = {}

# iterar sobre la columna de año
for y in df['Attack Date']:
    # si el año no está en el diccionario, inicializarlo a 1
    if y not in ataques:
        ataques[y] = 1
    # si el año ya está en el diccionario, incrementar el contador
    else:
        ataques[y] += 1

# imprimir el resultado
for y, contador in ataques.items():
    print(f"Año: {y} - Número de ataques: {contador}")

Año: 2017 - Número de ataques: 55
Año: 2016 - Número de ataques: 127
Año: 2015 - Número de ataques: 142
Año: 2014 - Número de ataques: 125
Año: 2013 - Número de ataques: 123
Año: 2012 - Número de ataques: 117
Año: 2011 - Número de ataques: 128
Año: 2010 - Número de ataques: 101
Año: 2009 - Número de ataques: 120
Año: 2008 - Número de ataques: 122
Año: 2007 - Número de ataques: 112
Año: 2006 - Número de ataques: 103
Año: 2005 - Número de ataques: 103
Año: 2004 - Número de ataques: 92
Año: 2003 - Número de ataques: 92
Año: 2002 - Número de ataques: 88
Año: 2001 - Número de ataques: 92
Año: 2000 - Número de ataques: 97
Año: 1999 - Número de ataques: 65
Año: 1998 - Número de ataques: 65
Año: 1997 - Número de ataques: 57
Año: 1996 - Número de ataques: 61
Año: 1995 - Número de ataques: 76
Año: 1984 - Número de ataques: 41
Año: 1994 - Número de ataques: 56
Año: 1993 - Número de ataques: 56
Año: 1992 - Número de ataques: 56
Año: 1991 - Número de ataques: 38
Año: 1990 - Número de ataques: 38
Año: 1989 - Número de ataques: 54
Año: 1988 - Número de ataques: 55
Año: 1987 - Número de ataques: 35
Año: 1986 - Número de ataques: 39
Año: 1985 - Número de ataques: 37
Año: 1983 - Número de ataques: 50
Año: 1982 - Número de ataques: 40
Año: 1981 - Número de ataques: 49
Año: 1980 - Número de ataques: 35
Año: 1979 - Número de ataques: 25
Año: 1978 - Número de ataques: 25
Año: 1977 - Número de ataques: 26
Año: 1976 - Número de ataques: 39
Año: 1975 - Número de ataques: 49
Año: 1974 - Número de ataques: 38
Año: 1973 - Número de ataques: 27
Año: 1972 - Número de ataques: 35
Año: 1971 - Número de ataques: 27
Año: 1970 - Número de ataques: 42
Año: 1969 - Número de ataques: 29
Año: 1968 - Número de ataques: 46
Año: 1967 - Número de ataques: 48
Año: 1966 - Número de ataques: 58
Año: 1965 - Número de ataques: 51
Año: 1964 - Número de ataques: 66
Año: 1963 - Número de ataques: 61
Año: 1962 - Número de ataques: 86
Año: 1961 - Número de ataques: 79
Año: 1960 - Número de ataques: 93
Año: 1959 - Número de ataques: 93
Año: 1958 - Número de ataques: 54
Año: 1957 - Número de ataques: 41
Año: 1956 - Número de ataques: 51
Año: 1955 - Número de ataques: 43
Año: 1954 - Número de ataques: 42
Año: 1953 - Número de ataques: 36
Año: 1952 - Número de ataques: 29
Año: 1951 - Número de ataques: 32
Año: 1950 - Número de ataques: 43
Año: 1949 - Número de ataques: 31
Año: 1948 - Número de ataques: 30
Año: 1947 - Número de ataques: 30
Año: 1946 - Número de ataques: 26
Año: 1945 - Número de ataques: 16
Año: 1944 - Número de ataques: 31
Año: 1943 - Número de ataques: 28
Año: 1942 - Número de ataques: 41
Año: 1941 - Número de ataques: 27
Año: 1940 - Número de ataques: 24
Año: 1939 - Número de ataques: 24
Año: 1938 - Número de ataques: 24
Año: 1937 - Número de ataques: 30
Año: 1936 - Número de ataques: 31
Año: 1935 - Número de ataques: 32
Año: 1934 - Número de ataques: 27
Año: 1933 - Número de ataques: 22
Año: 1932 - Número de ataques: 27
Año: 1931 - Número de ataques: 29
Año: 1930 - Número de ataques: 26
Año: 1929 - Número de ataques: 37
Año: 1928 - Número de ataques: 26
Año: 1927 - Número de ataques: 19
Año: 1926 - Número de ataques: 21
Año: 1925 - Número de ataques: 14
Año: 1924 - Número de ataques: 19
Año: 1923 - Número de ataques: 22
Año: 1922 - Número de ataques: 21
Año: 1921 - Número de ataques: 11
Año: 1920 - Número de ataques: 15
Año: 1919 - Número de ataques: 14
Año: 1918 - Número de ataques: 5
Año: 1917 - Número de ataques: 11
Año: 1916 - Número de ataques: 25
Año: 1915 - Número de ataques: 12
Año: 1914 - Número de ataques: 17
Año: 1913 - Número de ataques: 16
Año: 1912 - Número de ataques: 13
Año: 1911 - Número de ataques: 16
Año: 1910 - Número de ataques: 14
Año: 1909 - Número de ataques: 18
Año: 1908 - Número de ataques: 13
Año: 1907 - Número de ataques: 23
Año: 1906 - Número de ataques: 21
Año: 1905 - Número de ataques: 16
Año: 1904 - Número de ataques: 13
Año: 1903 - Número de ataques: 10
Año: 1902 - Número de ataques: 15
Año: 1901 - Número de ataques: 9
Año: 1900 - Número de ataques: 13
Año: 1899 - Número de ataques: 19
Año: 1898 - Número de ataques: 20
Año: 1897 - Número de ataques: 11
Año: 1896 - Número de ataques: 11
Año: 1895 - Número de ataques: 20
Año: 1894 - Número de ataques: 15
Año: 1893 - Número de ataques: 13
Año: 1892 - Número de ataques: 11
Año: 1891 - Número de ataques: 8
Año: 1890 - Número de ataques: 16
Año: 1889 - Número de ataques: 9
Año: 1888 - Número de ataques: 15
Año: 1887 - Número de ataques: 12
Año: 1886 - Número de ataques: 15
Año: 1885 - Número de ataques: 9
Año: 1884 - Número de ataques: 6
Año: 1883 - Número de ataques: 10
Año: 1882 - Número de ataques: 11
Año: 1881 - Número de ataques: 9
Año: 1880 - Número de ataques: 15
Año: 1879 - Número de ataques: 8
Año: 1878 - Número de ataques: 12
Año: 1877 - Número de ataques: 14
Año: 1876 - Número de ataques: 8
Año: 1875 - Número de ataques: 5
Año: 1874 - Número de ataques: 10
Año: 1873 - Número de ataques: 4
Año: 1872 - Número de ataques: 7
Año: 1871 - Número de ataques: 8
Año: 1870 - Número de ataques: 8
Año: 1869 - Número de ataques: 2
Año: 1868 - Número de ataques: 6
Año: 1867 - Número de ataques: 4
Año: 1866 - Número de ataques: 1
Año: 1865 - Número de ataques: 4
Año: 1864 - Número de ataques: 8
Año: 1863 - Número de ataques: 7
Año: 1862 - Número de ataques: 12
Año: 1861 - Número de ataques: 5
Año: 1860 - Número de ataques: 6
Año: 1859 - Número de ataques: 1
Año: 1858 - Número de ataques: 5
Año: 1856 - Número de ataques: 4
Año: 1855 - Número de ataques: 7
Año: 1854 - Número de ataques: 1
Año: 1853 - Número de ataques: 7
Año: 1852 - Número de ataques: 10
Año: 1851 - Número de ataques: 3
Año: 1850 - Número de ataques: 2
Año: 1849 - Número de ataques: 6
Año: 1848 - Número de ataques: 2
Año: 1847 - Número de ataques: 6
Año: 1846 - Número de ataques: 1
Año: 1845 - Número de ataques: 6
Año: 1844 - Número de ataques: 4
Año: 1842 - Número de ataques: 3
Año: 1841 - Número de ataques: 1
Año: 1840 - Número de ataques: 4
Año: 1839 - Número de ataques: 4
Año: 1837 - Número de ataques: 3
Año: 1836 - Número de ataques: 3
Año: 1835 - Número de ataques: 2
Año: 1834 - Número de ataques: 1
Año: 1832 - Número de ataques: 2
Año: 1831 - Número de ataques: 1
Año: 1830 - Número de ataques: 4
Año: 1829 - Número de ataques: 2
Año: 1828 - Número de ataques: 2
Año: 1827 - Número de ataques: 4
Año: 1826 - Número de ataques: 3
Año: 1825 - Número de ataques: 2
Año: 1823 - Número de ataques: 1
Año: 1822 - Número de ataques: 1
Año: 1819 - Número de ataques: 1
Año: 1818 - Número de ataques: 1
Año: 1817 - Número de ataques: 4
Año: 1816 - Número de ataques: 1
Año: 1812 - Número de ataques: 1
Año: 1811 - Número de ataques: 1
Año: 1807 - Número de ataques: 1
Año: 1806 - Número de ataques: 1
Año: 1805 - Número de ataques: 1
Año: 1804 - Número de ataques: 1
Año: 1803 - Número de ataques: 2
Año: 1802 - Número de ataques: 1
Año: 1800 - Número de ataques: 1
Año: 1797 - Número de ataques: 1
Año: 1791 - Número de ataques: 1
Año: 1788 - Número de ataques: 1
Año: 1787 - Número de ataques: 1
Año: 1786 - Número de ataques: 1
Año: 1785 - Número de ataques: 1
Año: 1784 - Número de ataques: 1
Año: 1779 - Número de ataques: 1
Año: 1776 - Número de ataques: 2
Año: 1771 - Número de ataques: 1
Año: 1767 - Número de ataques: 1
Año: 1764 - Número de ataques: 1
Año: 1758 - Número de ataques: 1
Año: 1753 - Número de ataques: 1
Año: 1751 - Número de ataques: 1
Año: 1749 - Número de ataques: 1
Año: 1755 - Número de ataques: 1
Año: 1748 - Número de ataques: 1
Año: 1742 - Número de ataques: 1
Año: 1738 - Número de ataques: 1
Año: 1733 - Número de ataques: 1
Año: 1721 - Número de ataques: 1
Año: 1703 - Número de ataques: 1
Año: 1700 - Número de ataques: 3
Año: 1642 - Número de ataques: 2
Año: 1638 - Número de ataques: 1
Año: 1637 - Número de ataques: 1
Año: 1617 - Número de ataques: 1
Año: 1595 - Número de ataques: 1
Año: 1580 - Número de ataques: 1
Año: 1555 - Número de ataques: 1
Año: 1554 - Número de ataques: 1
Año: 1543 - Número de ataques: 1
Año: 0500 - Número de ataques: 1
Año: 0077 - Número de ataques: 1
Año: 0005 - Número de ataques: 1
Año: 0.02 - Número de ataques: 1
Año: 0.03 - Número de ataques: 1
Año: 0.04 - Número de ataques: 1
Año: 0.07 - Número de ataques: 1
Año: ND-0 - Número de ataques: 29
Año: ND-1 - Número de ataques: 1
Año: nd-0 - Número de ataques: 1
Año: ND.0 - Número de ataques: 89
Año: 0 - Número de ataques: 3

In [36]:
fatalidades = df[df['Fatal (Y/N)'].str.contains('Y')]

# contar el número de veces que aparece la palabra 'fatal' en la columna 'Fatal (Y/N)'
contador = fatalidades['Fatal (Y/N)'].str.count('Y').sum()

# imprimir el resultado
print(f"En este registro podemos obtener la cantidad de: {contador} ataques 'Fatales'")

En este registro podemos obtener la cantidad de: 1566 ataques 'Fatales'