In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)  # me muestre todas las columnas
import re

In [2]:
# Descarga del DataFrame en archivo CSV. 

data_shark = pd.read_csv('/Users/JGR/IRON_HACK/Sharks/attacks.csv', encoding='UTF-8',encoding_errors='ignore')

# Ense√±a la cabeza del DataFrame
data_shark.head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2017.06.11,2017-06-11,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,48,"No injury, board bitten",N,08h30,"White shark, 4 m","WA Today, 6/11/2017",2017.06.11-Goff.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.11,2017.06.11,6095.0
1,2017.06.10.b,2017-06-10,2017.0,Unprovoked,AUSTRALIA,Victoria,"Flinders, Mornington Penisula",Surfing,female,F,NaN,"No injury, knocke off board",N,15h45,7 gill shark,NaN,2017.06.10.b-Flinders.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.10.b,2017.06.10.b,6094.0

In [3]:
data_shark.info() # Vemos toda la informacion de la Data Frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25614 entries, 0 to 25613
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6095 non-null   object
 1   Date                    6094 non-null   object
 2   Year                    6092 non-null   float64
 3   Type                    6090 non-null   object
 4   Country                 6048 non-null   object
 5   Area                    5682 non-null   object
 6   Location                5583 non-null   object
 7   Activity                5559 non-null   object
 8   Name                    5888 non-null   object
 9   Sex                     5517 non-null   object
 10  Age                     3374 non-null   object
 11  Injury                  6066 non-null   object
 12  Fatal (Y/N)             6064 non-null   object
 13  Time                    2848 non-null   object
 14  Species                 3100 non-null   object
 15  Investigator or Source  6077 non-null   object
 16  pdf                     6094 non-null   object
 17  href formula            6093 non-null   object
 18  href                    6093 non-null   object
 19  Case Number.1           6094 non-null   object
 20  Case Number.2           6094 non-null   object
 21  original order          6094 non-null   float64
dtypes: float64(2), object(20)
memory usage: 4.3+ MB

In [4]:
df = pd.DataFrame(data_shark)
null_counts = df.isna().sum() 
null_counts[null_counts > 0]

Case Number               19519
Date                      19520
Year                      19522
Type                      19524
Country                   19566
Area                      19932
Location                  20031
Activity                  20055
Name                      19726
Sex                       20097
Age                       22240
Injury                    19548
Fatal (Y/N)               19550
Time                      22766
Species                   22514
Investigator or Source    19537
pdf                       19520
href formula              19521
href                      19521
Case Number.1             19520
Case Number.2             19520
original order            19520
dtype: int64

In [5]:
data_shark.shape,

((25614, 22),)

In [6]:
df = data_shark.drop_duplicates()

In [7]:
df.shape

(6097, 22)

In [8]:
df = df.fillna('0') # Rellenamos todos los valores nulos a "unknown"
df.tail(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
6101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,0,0,0,0,0,0,0
25613,xx,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
df.shape

(6097, 22)

In [10]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [11]:
df = df.rename(columns={'Sex ': 'Sex'})

In [12]:
df = df.rename(columns={'Species ': 'Species'})

In [13]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [14]:
df['pdf'] = df['pdf'].str.replace('\D', '') # Quitamos todo lo que no sea numerico de la lista
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2017.06.11,2017-06-11,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,48,"No injury, board bitten",N,08h30,"White shark, 4 m","WA Today, 6/11/2017",20170611,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.11,2017.06.11,6095.0
1,2017.06.10.b,2017-06-10,2017.0,Unprovoked,AUSTRALIA,Victoria,"Flinders, Mornington Penisula",Surfing,female,F,0,"No injury, knocke off board",N,15h45,7 gill shark,0,20170610,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.10.b,2017.06.10.b,6094.0
2,2017.06.10.a,2017-06-10,2017.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Bryan Brock,M,19,Laceration to left foot,N,10h00,0,"Daytona Beach News-Journal, 6/10/2017",20170610,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.10.a,2017.06.10.a,6093.0
3,2017.06.07.R,Reported 07-Jun-2017,2017.0,Unprovoked,UNITED KINGDOM,South Devon,Bantham Beach,Surfing,Rich Thomson,M,30,"Bruise to leg, cuts to hand sustained when he ...",N,0,"3m shark, probably a smooth hound","C. Moore, GSAF",20170607,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.07.R,2017.06.07.R,6092.0
4,2017.06.04,2017-06-04,2017.0,Unprovoked,USA,Florida,"Middle Sambo Reef off Boca Chica, Monroe County",Spearfishing,Parker Simpson,M,0,Laceration to shin,N,0,8' shark,"Nine News, 6/7/2017",20170604,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.04,2017.06.04,6091.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6092,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,0,"Panama Bay 8N, 79W",0,Jules Patterson,M,0,FATAL,Y,0,0,"The Sun, 10/20/1938",0002,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6093,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,0,0,S.W. Baker,0001,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0
6094,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,0,0,0,0,0,0,0
25613,xx,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [15]:
df.shape

(6097, 22)

In [16]:
df = df.rename(columns={'Case Number.1': 'Attack Date'})

In [17]:
df['Case Number.2'] = 0 # Limpieza de datos que me son irrelevantes

In [18]:
df['original order'] = 0  # Limpieza de datos que me son irrelevantes

In [19]:
df['href formula'] = 0  # Limpieza de datos que me son irrelevantes

In [20]:
df['href'] = 0  # Limpieza de datos que me son irrelevantes

In [21]:
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Attack Date,Case Number.2,original order
0,2017.06.11,2017-06-11,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,48,"No injury, board bitten",N,08h30,"White shark, 4 m","WA Today, 6/11/2017",20170611,0,0,2017.06.11,0,0
1,2017.06.10.b,2017-06-10,2017.0,Unprovoked,AUSTRALIA,Victoria,"Flinders, Mornington Penisula",Surfing,female,F,0,"No injury, knocke off board",N,15h45,7 gill shark,0,20170610,0,0,2017.06.10.b,0,0
2,2017.06.10.a,2017-06-10,2017.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Bryan Brock,M,19,Laceration to left foot,N,10h00,0,"Daytona Beach News-Journal, 6/10/2017",20170610,0,0,2017.06.10.a,0,0

In [22]:
# Porcentaje por Pais
Country_counts = df['Country'].value_counts()
Country_percentages = Country_counts / len(df) * 100
Country_percentages.head(8)

USA                 35.427259
AUSTRALIA           21.371166
SOUTH AFRICA         9.365262
PAPUA NEW GUINEA     2.181401
NEW ZEALAND          2.066590
BRAZIL               1.689355
BAHAMAS              1.656552
MEXICO               1.394128
Name: Country, dtype: float64

In [23]:
df.shape

(6097, 22)

In [24]:
# Porcentaje por Sexo
Sex_counts = df['Sex'].value_counts()
Sex_percentages = Sex_counts / len(df) * 100
Sex_percentages.head(2)

M    80.465803
F     9.939314
Name: Sex, dtype: float64

In [25]:
# Porcentaje por Area
Area_counts = df['Area'].value_counts()
Area_percentages = Area_counts / len(df) * 100
Area_percentages.head(5)

Florida            16.647532
New South Wales     7.807118
0                   6.806626
Queensland          5.035263
Hawaii              4.723635
Name: Area, dtype: float64

In [26]:
injuries = df['Injury'].value_counts()
injuries.head(10)

FATAL                      746
Survived                    97
Foot bitten                 83
No injury                   79
Leg bitten                  71
Left foot bitten            49
No details                  43
Right foot bitten           39
0                           31
No injury, board bitten     30
Name: Injury, dtype: int64

In [27]:
time = df['Time'].value_counts()
time.head(10)

0            3249
Afternoon     181
11h00         126
Morning       112
12h00         108
15h00         101
16h00          98
14h00          95
16h30          73
13h00          72
Name: Time, dtype: int64

In [28]:
df.shape

(6097, 22)

In [29]:
sharks_species = df['Species'].value_counts()
sharks_species.head(20)

0                                  2997
White shark                         164
Shark involvement not confirmed      81
Tiger shark                          73
Bull shark                           53
6' shark                             40
4' shark                             39
1.8 m [6'] shark                     35
1.5 m [5'] shark                     32
1.2 m [4'] shark                     27
5' shark                             26
3' shark                             26
4' to 5' shark                       23
3 m [10'] shark                      22
2 m shark                            22
No shark involvement                 21
Wobbegong shark                      20
3' to 4' shark                       18
2.4 m [8'] shark                     16
3 m shark                            16
Name: Species, dtype: int64

In [30]:
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Attack Date,Case Number.2,original order
0,2017.06.11,2017-06-11,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,48,"No injury, board bitten",N,08h30,"White shark, 4 m","WA Today, 6/11/2017",20170611,0,0,2017.06.11,0,0
1,2017.06.10.b,2017-06-10,2017.0,Unprovoked,AUSTRALIA,Victoria,"Flinders, Mornington Penisula",Surfing,female,F,0,"No injury, knocke off board",N,15h45,7 gill shark,0,20170610,0,0,2017.06.10.b,0,0
2,2017.06.10.a,2017-06-10,2017.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Bryan Brock,M,19,Laceration to left foot,N,10h00,0,"Daytona Beach News-Journal, 6/10/2017",20170610,0,0,2017.06.10.a,0,0

In [31]:
Dates = df['Attack Date'].value_counts()
Dates.tail(100)

1999.12.31.c    1
2000.00.00      1
2000.01.05      1
2000.01.28.R    1
2000.02.01      1
               ..
1998.08.01.b    1
1998.08.12      1
1998.08.13      1
1998.08.15      1
1976.03.09      1
Name: Attack Date, Length: 100, dtype: int64

In [34]:
df['Attack Date'] = df['Attack Date'].str.slice(0, 4) # Hacemos el calculo anual de el numero de a

In [35]:
ataques = {}

# iterar sobre la columna de a√±o
for y in df['Attack Date']:
    # si el a√±o no est√° en el diccionario, inicializarlo a 1
    if y not in ataques:
        ataques[y] = 1
    # si el a√±o ya est√° en el diccionario, incrementar el contador
    else:
        ataques[y] += 1

# imprimir el resultado
for y, contador in ataques.items():
    print(f"A√±o: {y} - N√∫mero de ataques: {contador}")

A√±o: 2017 - N√∫mero de ataques: 55
A√±o: 2016 - N√∫mero de ataques: 127
A√±o: 2015 - N√∫mero de ataques: 142
A√±o: 2014 - N√∫mero de ataques: 125
A√±o: 2013 - N√∫mero de ataques: 123
A√±o: 2012 - N√∫mero de ataques: 117
A√±o: 2011 - N√∫mero de ataques: 128
A√±o: 2010 - N√∫mero de ataques: 101
A√±o: 2009 - N√∫mero de ataques: 120
A√±o: 2008 - N√∫mero de ataques: 122
A√±o: 2007 - N√∫mero de ataques: 112
A√±o: 2006 - N√∫mero de ataques: 103
A√±o: 2005 - N√∫mero de ataques: 103
A√±o: 2004 - N√∫mero de ataques: 92
A√±o: 2003 - N√∫mero de ataques: 92
A√±o: 2002 - N√∫mero de ataques: 88
A√±o: 2001 - N√∫mero de ataques: 92
A√±o: 2000 - N√∫mero de ataques: 97
A√±o: 1999 - N√∫mero de ataques: 65
A√±o: 1998 - N√∫mero de ataques: 65
A√±o: 1997 - N√∫mero de ataques: 57
A√±o: 1996 - N√∫mero de ataques: 61
A√±o: 1995 - N√∫mero de ataques: 76
A√±o: 1984 - N√∫mero de ataques: 41
A√±o: 1994 - N√∫mero de ataques: 56
A√±o: 1993 - N√∫mero de ataques: 56
A√±o: 1992 - N√∫mero de ataques: 56
A√±o: 1991 - N√∫mero de ataques: 38
A√±o: 1990 - N√∫mero de ataques: 38
A√±o: 1989 - N√∫mero de ataques: 54
A√±o: 1988 - N√∫mero de ataques: 55
A√±o: 1987 - N√∫mero de ataques: 35
A√±o: 1986 - N√∫mero de ataques: 39
A√±o: 1985 - N√∫mero de ataques: 37
A√±o: 1983 - N√∫mero de ataques: 50
A√±o: 1982 - N√∫mero de ataques: 40
A√±o: 1981 - N√∫mero de ataques: 49
A√±o: 1980 - N√∫mero de ataques: 35
A√±o: 1979 - N√∫mero de ataques: 25
A√±o: 1978 - N√∫mero de ataques: 25
A√±o: 1977 - N√∫mero de ataques: 26
A√±o: 1976 - N√∫mero de ataques: 39
A√±o: 1975 - N√∫mero de ataques: 49
A√±o: 1974 - N√∫mero de ataques: 38
A√±o: 1973 - N√∫mero de ataques: 27
A√±o: 1972 - N√∫mero de ataques: 35
A√±o: 1971 - N√∫mero de ataques: 27
A√±o: 1970 - N√∫mero de ataques: 42
A√±o: 1969 - N√∫mero de ataques: 29
A√±o: 1968 - N√∫mero de ataques: 46
A√±o: 1967 - N√∫mero de ataques: 48
A√±o: 1966 - N√∫mero de ataques: 58
A√±o: 1965 - N√∫mero de ataques: 51
A√±o: 1964 - N√∫mero de ataques: 66
A√±o: 1963 - N√∫mero de ataques: 61
A√±o: 1962 - N√∫mero de ataques: 86
A√±o: 1961 - N√∫mero de ataques: 79
A√±o: 1960 - N√∫mero de ataques: 93
A√±o: 1959 - N√∫mero de ataques: 93
A√±o: 1958 - N√∫mero de ataques: 54
A√±o: 1957 - N√∫mero de ataques: 41
A√±o: 1956 - N√∫mero de ataques: 51
A√±o: 1955 - N√∫mero de ataques: 43
A√±o: 1954 - N√∫mero de ataques: 42
A√±o: 1953 - N√∫mero de ataques: 36
A√±o: 1952 - N√∫mero de ataques: 29
A√±o: 1951 - N√∫mero de ataques: 32
A√±o: 1950 - N√∫mero de ataques: 43
A√±o: 1949 - N√∫mero de ataques: 31
A√±o: 1948 - N√∫mero de ataques: 30
A√±o: 1947 - N√∫mero de ataques: 30
A√±o: 1946 - N√∫mero de ataques: 26
A√±o: 1945 - N√∫mero de ataques: 16
A√±o: 1944 - N√∫mero de ataques: 31
A√±o: 1943 - N√∫mero de ataques: 28
A√±o: 1942 - N√∫mero de ataques: 41
A√±o: 1941 - N√∫mero de ataques: 27
A√±o: 1940 - N√∫mero de ataques: 24
A√±o: 1939 - N√∫mero de ataques: 24
A√±o: 1938 - N√∫mero de ataques: 24
A√±o: 1937 - N√∫mero de ataques: 30
A√±o: 1936 - N√∫mero de ataques: 31
A√±o: 1935 - N√∫mero de ataques: 32
A√±o: 1934 - N√∫mero de ataques: 27
A√±o: 1933 - N√∫mero de ataques: 22
A√±o: 1932 - N√∫mero de ataques: 27
A√±o: 1931 - N√∫mero de ataques: 29
A√±o: 1930 - N√∫mero de ataques: 26
A√±o: 1929 - N√∫mero de ataques: 37
A√±o: 1928 - N√∫mero de ataques: 26
A√±o: 1927 - N√∫mero de ataques: 19
A√±o: 1926 - N√∫mero de ataques: 21
A√±o: 1925 - N√∫mero de ataques: 14
A√±o: 1924 - N√∫mero de ataques: 19
A√±o: 1923 - N√∫mero de ataques: 22
A√±o: 1922 - N√∫mero de ataques: 21
A√±o: 1921 - N√∫mero de ataques: 11
A√±o: 1920 - N√∫mero de ataques: 15
A√±o: 1919 - N√∫mero de ataques: 14
A√±o: 1918 - N√∫mero de ataques: 5
A√±o: 1917 - N√∫mero de ataques: 11
A√±o: 1916 - N√∫mero de ataques: 25
A√±o: 1915 - N√∫mero de ataques: 12
A√±o: 1914 - N√∫mero de ataques: 17
A√±o: 1913 - N√∫mero de ataques: 16
A√±o: 1912 - N√∫mero de ataques: 13
A√±o: 1911 - N√∫mero de ataques: 16
A√±o: 1910 - N√∫mero de ataques: 14
A√±o: 1909 - N√∫mero de ataques: 18
A√±o: 1908 - N√∫mero de ataques: 13
A√±o: 1907 - N√∫mero de ataques: 23
A√±o: 1906 - N√∫mero de ataques: 21
A√±o: 1905 - N√∫mero de ataques: 16
A√±o: 1904 - N√∫mero de ataques: 13
A√±o: 1903 - N√∫mero de ataques: 10
A√±o: 1902 - N√∫mero de ataques: 15
A√±o: 1901 - N√∫mero de ataques: 9
A√±o: 1900 - N√∫mero de ataques: 13
A√±o: 1899 - N√∫mero de ataques: 19
A√±o: 1898 - N√∫mero de ataques: 20
A√±o: 1897 - N√∫mero de ataques: 11
A√±o: 1896 - N√∫mero de ataques: 11
A√±o: 1895 - N√∫mero de ataques: 20
A√±o: 1894 - N√∫mero de ataques: 15
A√±o: 1893 - N√∫mero de ataques: 13
A√±o: 1892 - N√∫mero de ataques: 11
A√±o: 1891 - N√∫mero de ataques: 8
A√±o: 1890 - N√∫mero de ataques: 16
A√±o: 1889 - N√∫mero de ataques: 9
A√±o: 1888 - N√∫mero de ataques: 15
A√±o: 1887 - N√∫mero de ataques: 12
A√±o: 1886 - N√∫mero de ataques: 15
A√±o: 1885 - N√∫mero de ataques: 9
A√±o: 1884 - N√∫mero de ataques: 6
A√±o: 1883 - N√∫mero de ataques: 10
A√±o: 1882 - N√∫mero de ataques: 11
A√±o: 1881 - N√∫mero de ataques: 9
A√±o: 1880 - N√∫mero de ataques: 15
A√±o: 1879 - N√∫mero de ataques: 8
A√±o: 1878 - N√∫mero de ataques: 12
A√±o: 1877 - N√∫mero de ataques: 14
A√±o: 1876 - N√∫mero de ataques: 8
A√±o: 1875 - N√∫mero de ataques: 5
A√±o: 1874 - N√∫mero de ataques: 10
A√±o: 1873 - N√∫mero de ataques: 4
A√±o: 1872 - N√∫mero de ataques: 7
A√±o: 1871 - N√∫mero de ataques: 8
A√±o: 1870 - N√∫mero de ataques: 8
A√±o: 1869 - N√∫mero de ataques: 2
A√±o: 1868 - N√∫mero de ataques: 6
A√±o: 1867 - N√∫mero de ataques: 4
A√±o: 1866 - N√∫mero de ataques: 1
A√±o: 1865 - N√∫mero de ataques: 4
A√±o: 1864 - N√∫mero de ataques: 8
A√±o: 1863 - N√∫mero de ataques: 7
A√±o: 1862 - N√∫mero de ataques: 12
A√±o: 1861 - N√∫mero de ataques: 5
A√±o: 1860 - N√∫mero de ataques: 6
A√±o: 1859 - N√∫mero de ataques: 1
A√±o: 1858 - N√∫mero de ataques: 5
A√±o: 1856 - N√∫mero de ataques: 4
A√±o: 1855 - N√∫mero de ataques: 7
A√±o: 1854 - N√∫mero de ataques: 1
A√±o: 1853 - N√∫mero de ataques: 7
A√±o: 1852 - N√∫mero de ataques: 10
A√±o: 1851 - N√∫mero de ataques: 3
A√±o: 1850 - N√∫mero de ataques: 2
A√±o: 1849 - N√∫mero de ataques: 6
A√±o: 1848 - N√∫mero de ataques: 2
A√±o: 1847 - N√∫mero de ataques: 6
A√±o: 1846 - N√∫mero de ataques: 1
A√±o: 1845 - N√∫mero de ataques: 6
A√±o: 1844 - N√∫mero de ataques: 4
A√±o: 1842 - N√∫mero de ataques: 3
A√±o: 1841 - N√∫mero de ataques: 1
A√±o: 1840 - N√∫mero de ataques: 4
A√±o: 1839 - N√∫mero de ataques: 4
A√±o: 1837 - N√∫mero de ataques: 3
A√±o: 1836 - N√∫mero de ataques: 3
A√±o: 1835 - N√∫mero de ataques: 2
A√±o: 1834 - N√∫mero de ataques: 1
A√±o: 1832 - N√∫mero de ataques: 2
A√±o: 1831 - N√∫mero de ataques: 1
A√±o: 1830 - N√∫mero de ataques: 4
A√±o: 1829 - N√∫mero de ataques: 2
A√±o: 1828 - N√∫mero de ataques: 2
A√±o: 1827 - N√∫mero de ataques: 4
A√±o: 1826 - N√∫mero de ataques: 3
A√±o: 1825 - N√∫mero de ataques: 2
A√±o: 1823 - N√∫mero de ataques: 1
A√±o: 1822 - N√∫mero de ataques: 1
A√±o: 1819 - N√∫mero de ataques: 1
A√±o: 1818 - N√∫mero de ataques: 1
A√±o: 1817 - N√∫mero de ataques: 4
A√±o: 1816 - N√∫mero de ataques: 1
A√±o: 1812 - N√∫mero de ataques: 1
A√±o: 1811 - N√∫mero de ataques: 1
A√±o: 1807 - N√∫mero de ataques: 1
A√±o: 1806 - N√∫mero de ataques: 1
A√±o: 1805 - N√∫mero de ataques: 1
A√±o: 1804 - N√∫mero de ataques: 1
A√±o: 1803 - N√∫mero de ataques: 2
A√±o: 1802 - N√∫mero de ataques: 1
A√±o: 1800 - N√∫mero de ataques: 1
A√±o: 1797 - N√∫mero de ataques: 1
A√±o: 1791 - N√∫mero de ataques: 1
A√±o: 1788 - N√∫mero de ataques: 1
A√±o: 1787 - N√∫mero de ataques: 1
A√±o: 1786 - N√∫mero de ataques: 1
A√±o: 1785 - N√∫mero de ataques: 1
A√±o: 1784 - N√∫mero de ataques: 1
A√±o: 1779 - N√∫mero de ataques: 1
A√±o: 1776 - N√∫mero de ataques: 2
A√±o: 1771 - N√∫mero de ataques: 1
A√±o: 1767 - N√∫mero de ataques: 1
A√±o: 1764 - N√∫mero de ataques: 1
A√±o: 1758 - N√∫mero de ataques: 1
A√±o: 1753 - N√∫mero de ataques: 1
A√±o: 1751 - N√∫mero de ataques: 1
A√±o: 1749 - N√∫mero de ataques: 1
A√±o: 1755 - N√∫mero de ataques: 1
A√±o: 1748 - N√∫mero de ataques: 1
A√±o: 1742 - N√∫mero de ataques: 1
A√±o: 1738 - N√∫mero de ataques: 1
A√±o: 1733 - N√∫mero de ataques: 1
A√±o: 1721 - N√∫mero de ataques: 1
A√±o: 1703 - N√∫mero de ataques: 1
A√±o: 1700 - N√∫mero de ataques: 3
A√±o: 1642 - N√∫mero de ataques: 2
A√±o: 1638 - N√∫mero de ataques: 1
A√±o: 1637 - N√∫mero de ataques: 1
A√±o: 1617 - N√∫mero de ataques: 1
A√±o: 1595 - N√∫mero de ataques: 1
A√±o: 1580 - N√∫mero de ataques: 1
A√±o: 1555 - N√∫mero de ataques: 1
A√±o: 1554 - N√∫mero de ataques: 1
A√±o: 1543 - N√∫mero de ataques: 1
A√±o: 0500 - N√∫mero de ataques: 1
A√±o: 0077 - N√∫mero de ataques: 1
A√±o: 0005 - N√∫mero de ataques: 1
A√±o: 0.02 - N√∫mero de ataques: 1
A√±o: 0.03 - N√∫mero de ataques: 1
A√±o: 0.04 - N√∫mero de ataques: 1
A√±o: 0.07 - N√∫mero de ataques: 1
A√±o: ND-0 - N√∫mero de ataques: 29
A√±o: ND-1 - N√∫mero de ataques: 1
A√±o: nd-0 - N√∫mero de ataques: 1
A√±o: ND.0 - N√∫mero de ataques: 89
A√±o: 0 - N√∫mero de ataques: 3

In [36]:
fatalidades = df[df['Fatal (Y/N)'].str.contains('Y')]

# contar el n√∫mero de veces que aparece la palabra 'fatal' en la columna 'Fatal (Y/N)'
contador = fatalidades['Fatal (Y/N)'].str.count('Y').sum()

# imprimir el resultado
print(f"En este registro podemos obtener la cantidad de: {contador} ataques 'Fatales'")

En este registro podemos obtener la cantidad de: 1566 ataques 'Fatales'