In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)  # me muestre todas las columnas

import seaborn as sns
import re

In [2]:
# Descarga del DataFrame en archivo CSV. 

data_shark = pd.read_csv('/Users/JGR/IRON_HACK/Sharks/attacks.csv', encoding='UTF-8',encoding_errors='ignore')

# Enseña la cabeza del DataFrame
data_shark.head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2017.06.11,2017-06-11,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,48,"No injury, board bitten",N,08h30,"White shark, 4 m","WA Today, 6/11/2017",2017.06.11-Goff.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.11,2017.06.11,6095.0
1,2017.06.10.b,2017-06-10,2017.0,Unprovoked,AUSTRALIA,Victoria,"Flinders, Mornington Penisula",Surfing,female,F,NaN,"No injury, knocke off board",N,15h45,7 gill shark,NaN,2017.06.10.b-Flinders.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.10.b,2017.06.10.b,6094.0

In [3]:
data_shark.info() # Vemos toda la informacion de la Data Frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25614 entries, 0 to 25613
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6095 non-null   object
 1   Date                    6094 non-null   object
 2   Year                    6092 non-null   float64
 3   Type                    6090 non-null   object
 4   Country                 6048 non-null   object
 5   Area                    5682 non-null   object
 6   Location                5583 non-null   object
 7   Activity                5559 non-null   object
 8   Name                    5888 non-null   object
 9   Sex                     5517 non-null   object
 10  Age                     3374 non-null   object
 11  Injury                  6066 non-null   object
 12  Fatal (Y/N)             6064 non-null   object
 13  Time                    2848 non-null   object
 14  Species                 3100 non-null   object
 15  Investigator or Source  6077 non-null   object
 16  pdf                     6094 non-null   object
 17  href formula            6093 non-null   object
 18  href                    6093 non-null   object
 19  Case Number.1           6094 non-null   object
 20  Case Number.2           6094 non-null   object
 21  original order          6094 non-null   float64
dtypes: float64(2), object(20)
memory usage: 4.3+ MB

In [37]:
df = pd.DataFrame(data_shark)
null_counts = df.isna().sum() 
null_counts[null_counts > 0]

Case Number               19519
Date                      19520
Year                      19522
Type                      19524
Country                   19566
Area                      19932
Location                  20031
Activity                  20055
Name                      19726
Sex                       20097
Age                       22240
Injury                    19548
Fatal (Y/N)               19550
Time                      22766
Species                   22514
Investigator or Source    19537
pdf                       19520
href formula              19521
href                      19521
Case Number.1             19520
Case Number.2             19520
original order            19520
dtype: int64

In [38]:
data_shark.shape,

((25614, 22), (25614, 22))

In [39]:
df = data_shark.drop_duplicates()

In [40]:
df.shape

(6097, 22)

In [41]:
df = df.fillna('0') # Rellenamos todos los valores nulos a "unknown"
df.tail(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
6101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,0,0,0,0,0,0,0
25613,xx,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [42]:
df.shape

(6097, 22)

In [43]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [44]:
df = df.rename(columns={'Sex ': 'Sex'})

In [45]:
df = df.rename(columns={'Species ': 'Species'})

In [46]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [13]:
df['pdf'] = df['pdf'].str.replace('\D', '') # Quitamos todo lo que no sea numerico de la lista
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2017.06.11,2017-06-11,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,48,"No injury, board bitten",N,08h30,"White shark, 4 m","WA Today, 6/11/2017",20170611,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.11,2017.06.11,6095.0
1,2017.06.10.b,2017-06-10,2017.0,Unprovoked,AUSTRALIA,Victoria,"Flinders, Mornington Penisula",Surfing,female,F,0,"No injury, knocke off board",N,15h45,7 gill shark,0,20170610,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.10.b,2017.06.10.b,6094.0
2,2017.06.10.a,2017-06-10,2017.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Bryan Brock,M,19,Laceration to left foot,N,10h00,0,"Daytona Beach News-Journal, 6/10/2017",20170610,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.10.a,2017.06.10.a,6093.0
3,2017.06.07.R,Reported 07-Jun-2017,2017.0,Unprovoked,UNITED KINGDOM,South Devon,Bantham Beach,Surfing,Rich Thomson,M,30,"Bruise to leg, cuts to hand sustained when he ...",N,0,"3m shark, probably a smooth hound","C. Moore, GSAF",20170607,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.07.R,2017.06.07.R,6092.0
4,2017.06.04,2017-06-04,2017.0,Unprovoked,USA,Florida,"Middle Sambo Reef off Boca Chica, Monroe County",Spearfishing,Parker Simpson,M,0,Laceration to shin,N,0,8' shark,"Nine News, 6/7/2017",20170604,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.04,2017.06.04,6091.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6092,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,0,"Panama Bay 8N, 79W",0,Jules Patterson,M,0,FATAL,Y,0,0,"The Sun, 10/20/1938",0002,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6093,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,0,0,S.W. Baker,0001,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0
6094,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,0,0,0,0,0,0,0
25613,xx,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [47]:
df.shape

(6097, 22)

In [48]:
df = df.rename(columns={'Case Number.1': 'Attack Date'})

In [49]:
df['Case Number.2'] = 0

In [50]:
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Attack Date,Case Number.2,original order
0,2017.06.11,2017-06-11,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,48,"No injury, board bitten",N,08h30,"White shark, 4 m","WA Today, 6/11/2017",2017.06.11-Goff.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.11,0,6095.0
1,2017.06.10.b,2017-06-10,2017.0,Unprovoked,AUSTRALIA,Victoria,"Flinders, Mornington Penisula",Surfing,female,F,0,"No injury, knocke off board",N,15h45,7 gill shark,0,2017.06.10.b-Flinders.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.10.b,0,6094.0
2,2017.06.10.a,2017-06-10,2017.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Bryan Brock,M,19,Laceration to left foot,N,10h00,0,"Daytona Beach News-Journal, 6/10/2017",2017.06.10.a-Brock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.10.a,0,6093.0

In [17]:
# Porcentaje por Pais
Country_counts = df['Country'].value_counts()
Country_percentages = Country_counts / len(df) * 100
Country_percentages.head(8)

USA                 35.427259
AUSTRALIA           21.371166
SOUTH AFRICA         9.365262
PAPUA NEW GUINEA     2.181401
NEW ZEALAND          2.066590
BRAZIL               1.689355
BAHAMAS              1.656552
MEXICO               1.394128
Name: Country, dtype: float64

In [51]:
df.shape

(6097, 22)

In [52]:
# Porcentaje por Sexo
Sex_counts = df['Sex'].value_counts()
Sex_percentages = Sex_counts / len(df) * 100
Sex_percentages.head(2)

M    80.465803
F     9.939314
Name: Sex, dtype: float64

In [53]:
# Porcentaje por Area
Area_counts = df['Area'].value_counts()
Area_percentages = Area_counts / len(df) * 100
Area_percentages.head(5)

Florida            16.647532
New South Wales     7.807118
0                   6.806626
Queensland          5.035263
Hawaii              4.723635
Name: Area, dtype: float64

In [54]:
injuries = df['Injury'].value_counts()
injuries.head(10)

FATAL                      746
Survived                    97
Foot bitten                 83
No injury                   79
Leg bitten                  71
Left foot bitten            49
No details                  43
Right foot bitten           39
0                           31
No injury, board bitten     30
Name: Injury, dtype: int64

In [21]:
time = df['Time'].value_counts()
time.head(10)

0            3249
Afternoon     181
11h00         126
Morning       112
12h00         108
15h00         101
16h00          98
14h00          95
16h30          73
13h00          72
Name: Time, dtype: int64

In [55]:
df.shape

(6097, 22)

In [56]:
sharks_species = df['Species'].value_counts()
sharks_species.head(20)

0                                  2997
White shark                         164
Shark involvement not confirmed      81
Tiger shark                          73
Bull shark                           53
6' shark                             40
4' shark                             39
1.8 m [6'] shark                     35
1.5 m [5'] shark                     32
1.2 m [4'] shark                     27
5' shark                             26
3' shark                             26
4' to 5' shark                       23
3 m [10'] shark                      22
2 m shark                            22
No shark involvement                 21
Wobbegong shark                      20
3' to 4' shark                       18
2.4 m [8'] shark                     16
3 m shark                            16
Name: Species, dtype: int64

In [57]:
Dates = df['Attack Date'].value_counts()
Dates.tail(100)

1999.12.31.c    1
2000.00.00      1
2000.01.05      1
2000.01.28.R    1
2000.02.01      1
               ..
1998.08.01.b    1
1998.08.12      1
1998.08.13      1
1998.08.15      1
1976.03.09      1
Name: Attack Date, Length: 100, dtype: int64

In [59]:
for i in range(len(df['Attack Date'])):
    if len(str(df.at[i, 'Attack Date'])) < 9:
        df = df.drop(i, axis=0)

KeyError: 6095